*.elc
.emacs.desktop
.emacs.desktop.lock
auto-save-list/
auto-save/
bookmarks
custom-variables.el
dynamic-font-size-data.el
eln-cache
elpa/
eshell/history
eshell/lastdir
history
org-persist/
places
plantuml/
prescient-save.el
projects
recentf
server/
session.*
tldr/
tramp
transient/
tree-sitter/
url/
windows/bin/nuget.exe
windows/omnisharp/
windows/share/man/