*.elc
*.eld
.emacs.desktop
.emacs.desktop.lock
auto-save-list/
auto-save/
custom-variables.el
eln-cache
eshell/history
eshell/lastdir
history
network-security.data
org-persist/
personal-dictonary
plantuml/
prescient-save.el
server/
session.*
tldr/
tramp
transient/
tree-sitter/
url/
user-lisp/.user-lisp-autoloads.el
windows/bin/nuget.exe
windows/omnisharp/
windows/share/man/